h4, h2 {
  color: #f5f5f5;
  font-weight: bold;
}
.detail-card {
  background-color: #5a5a5a;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.detail-header {
  padding: 0;
  position: relative;
}
.detail-body {
  padding: 0;
}
.detail-text {
  background-color: #5a5a5a;
  text-align: -webkit-match-parent;
  color: #f5f5f5;
}
.detail-list-group {
  justify-content: space-between;
  display: flex;
}
b {
  float: left;
}
.info-right-flush {
  float: right;
}
#profile-image {
  position: relative;
  max-width: 200px;
  max-height: 200px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.detail-headers {
  padding: 1.25rem 1.25rem;
}
.header-element {
  display: inline-block;
  color: #f5f5f5;
}
#annoying-fing-span {
  margin-left: 10px; 
}
#header-text {
  margin-left: 30px;
  margin-bottom: 20px;
  vertical-align: bottom;
}
#back-button {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  vertical-align: bottom;
}