h3 {
  color: rgb(255,255,255);
  font-weight: bold;
}
.character-card {
  background-color: #353535;
  max-width: 500px;
  min-width: 370px;
}
.character-header {
  padding: 0;
  position: relative;
  min-height: 370px;
}
.character-body {
  padding: 0;
}
.character-img-overlay {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 5px;
  background: rgba(0,0,0,.4);
  z-index: 5;
  position: absolute;
  color: #f5f5f5;
  width: 100%;
  top: auto;
  bottom: 0;
}
.character-list-group-item {
  background-color: #5a5a5a;
  text-align: -webkit-match-parent;
  color: #f5f5f5;
}
.character-list-group {
  justify-content: space-between;
  display: flex;
}
b {
  float: left;
}
.info-right-flush {
  float: right;
}
img {
  width: 370px;
  height: 370px;
}